.header-3-sub p {
	text-align: center;
	font-size:1.2em;
}

.header-3-sub h2 {
  font-family: 'futura-pt', 'Open Sans',sans-serif;
  font-weight: 700;
  text-align: center
  }
  
mm-green {
	color:rgb(35, 148, 159);
}

.btn-mm {
	background-color: rgb(35, 148, 159);
}

.btn-mm:hover{
	background-color: rgb(85, 183, 181);
}

.background {
background-image:url('../img/bg.jpg');
}

.bg-mm {
  background-color: rgb(35, 148, 159);
}

.content-26 {
	color:white;
}

.content-26 h3{
	color:white;
}

.content-26 .lead{
	color:#ccc;
}